<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zgj.dao.AdminMapper">

    <!--登录功能-->
    <select id="findLogin" parameterType="String" resultType="com.zgj.bean.Admin">
        select * from admin where a_name = #{a_name}
    </select>

    <!--注册功能-->
    <insert id="register" parameterType="com.zgj.bean.Admin">
        insert into admin (a_name, a_password) values (#{a_name}, #{a_password});
    </insert>

    <!--根据用户名查询-->
    <select id="findByName" parameterType="String" resultType="com.zgj.bean.Admin">
        select a_name from admin where a_name = #{a_name}
    </select>


</mapper>